* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  width: 50%;
  margin-top: 20px;
}

header {
  width: 100%;
  overflow-y: hidden;
  position: fixed;

  z-index: 2;
}
nav {
  background: rgb(37, 35, 35);
  padding: 30px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-right: 30px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    75deg,
    rgb(0, 0, 0) 1%,
    rgb(107, 124, 108) 60%,
    rgb(10, 10, 10) 110%
  );
  font-size: 2rem;
  padding: 2rem;
  
  color: white;
}





/* burger to mobile devices, not showing on big screen*/
.burger {
  display: none;
}

/* Nav bar logo */
.logo {
  color: white;
  font-size: 4rem;
  margin-left: 30px;
}
/* h1 in container*/
.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}
/* First container*/
.container {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  margin: 0 auto;
  z-index: 1;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.span-title {
  
  display: flex;
  align-items: center;
  justify-content: center;
}


.parallax ul {
  display: flex;
  margin-right: 30px;
}
.parallax ul li {
  color: white;
  list-style-type: none;
  letter-spacing: 10px;
  font-size: 5.5rem;
  transition: 1.5s;

}

.parallax .jesus li {
  transform: rotate(45deg) translateY(-200px);
  opacity: 0;
  filter: blur(20px);
}

/* image */
.background {
  position: absolute;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-10px) scale(2);
}

/* Information content*/
.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content1 h2 {
  margin-top: 40px;
}

/* parallax photo*/
.content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/sun.jpg);
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  height: 30%;
  color: white;
  font-size: 3rem;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  background: linear-gradient(
    75deg,
    rgb(0, 0, 0) 1%,
    rgb(107, 124, 108) 60%,
    rgb(10, 10, 10) 110%
  );
  height: 700px;
  
}
.projects h1 {
  font-size: 3rem;
  padding: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.tekeleet {
  
  width: 100%;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 3rem;
  color: white;
  
  
}

.automerkki,
.earth,
.school {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.gitH {
  text-decoration: none;
  color: white;
  margin-top: 20px;
  font-size: 1.2rem;
}




.tekeleet img {
  
  box-shadow: 0 0 20px rgb(240, 234, 234);
  margin-top: 40px;
  
  border-radius: 30px;
}

/* When scrolling down, javascript changes background to */
.NavScroll {
  background-color: white;
  height: 100px;
}
.NavTextScroll {
  color: black;
}

/* Skills */

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.skills h2 {
  margin-bottom: 60px;
  font-size: 6rem;
}

.taidot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.taidot img {
  width: 17rem;
}

.taidot img:first-child {
  width: 21rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  background: linear-gradient(
    75deg,
    rgb(0, 0, 0) 1%,
    rgb(107, 124, 108) 60%,
    rgb(10, 10, 10) 110%
  );
  overflow: hidden;
  height: 300px;
  
}

.contact h2 {
  
  font-size: 3rem;
  color: white;
  
}

.how-to {
  display: flex;
  justify-content:space-evenly;
  width: 60%;
  margin-top: 70px;
 
  
}



.how-to img {
  width: 3rem;
  cursor: pointer;
  
}


@media screen and (max-width: 490px) {
  p {
    width: 100%;
  }
  nav {
    height: 100px;
  }

  header {
    overflow-y: visible;
  }

  

  

  .nav-links {
    position: absolute;
    background: rgb(37, 35, 35);

    border-radius: 40px;
    margin: 0;
    height: 500px;
    width: 100%;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in;
    transform: translateX(110%);
    
    z-index: 9;
  }

  
  .nav-links li {
    margin-bottom: 20px;
  }

  .title h1 {
    font-size: 2rem;
  }
  .mobileNavBackground {
    background: white;
    
  }

  .logo {
    margin: 0;
  }

  .burger {
    display: block;
    z-index: 9;
  }

  .burger-div {
    width: 25px;
    height: 5px;
    margin: 3px;
    background-color: white;
  }
  .burgerToBlack {
    background-color: black;
  }
  .span-title {
    flex-direction: column;
    
    
  }
  .span-title ul li {
    font-size: 3rem;
    
  }

  .section1 h1,
  h2 {
    font-size: 2rem;
  }

  .background {
    object-position: left;
  }
  .nav-active {
    transform: translateX(0%);
  }

  .taidot img {
    width: 50%;
  }

  .projects {
    height: auto;
  }
  .automerkki,
  .earth,
  .school {
    margin-bottom: 40px;
  }
  .tekeleet img {
    width: 40%;
  }

  .how-to img {
    width: 2rem;
  }
}
